<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Please fill out the form to register</h3>
	</div>
	<div class="panel-body">
		<form class="form" role="form" name="regForm" ng-submit="submit(user)" novalidate>

			<div class="form-group">
				<label for="email" class="control-label">email:</label>
				<input name="email" type="email" id="email" class="form-control" ng-model="user.email" required />
				<!--Nedan sker en koll ifall e-mail är rätt. Om det inte är en korrekt e-mail så bes användaren skriva in en sådan-->
				<p ng-show="regForm.email.$invalid && !regForm.email.$pristine">Please enter a valid E-Mail address.</p>
			</div>
			
			<div class="form-group">
				<label for="email2" class="control-label">re-enter email:</label>
				<input name="email2" type="email" id="email2" class="form-control" ng-model="user.email2" required />
				<!--Nedan sker en koll ifall e-mail är rätt. Om det inte är en korrekt e-mail så bes användaren skriva in en sådan-->
			</div>
			

			<div class="form-group">
				<label for="password" class="control-label">password:</label>
				<input name="password" type="password" id="password" class="form-control" ng-model="user.password" ng-minlength="8" required/>
				<!--Nedan sker en koll ifall lösenordet är minst 8 tecken. Om det inte är en korrekt så visas det för användaren-->
				<p ng-show="regForm.password.$error.minlength">The password should be 8 characters minimum.</p>
			</div>
			
			<div class="form-group">
				<label for="password2" class="control-label">re-enter password:</label>
				<input name="password2" type="password" id="password2" class="form-control" ng-model="user.password2" ng-minlength="8" required/>
			</div>
			
			<div class="form-group">
				<label for="ssn" class="control-label">social security number (yyyymmddxxxx):</label>
				<input name="ssn" type="text" id="ssn" class="form-control" ng-model="user.ssn" required/>
			</div>

			<div class="form-group">
				<p ng-show="regForm.email.$invalid || regForm.password.$invalid ">Please enter a valid email, password and social security number before registering is possible.</p>
				<!--Knappen Register visas endast om email och lösenord är korrekta-->
				<button class="btn btn-primary pull-right" ng-show="regForm.email.$valid && regForm.password.$valid">register</button>
			</div>

		</form>
	</div>
</div>